<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Liste des activités</h1>


            <form action="/" method="POST">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nom de l'activité</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%listeActivites.forEach(activite=> {%>

                            <tr>
                                <td>
                                    <a class="single" href="/<%=activite._id %>" <%=activite.titre %></a>

                                    <%= activite.titre %>
                                </td>
                                <td>
                                    <% if (activite.description !=null) { %>
                                        <%=activite.description %>
                                            <% } else { %>
                                                <p>Pas de description</p>
                                                <% } %>
                                </td>
                                <td>
                                    <% if (activite.date !=null) { %>
                                        <%=activite.date.toISOString().substring(0,10) %>
                                            <% } else { %>
                                                <p>Pas de date</p>
                                                <% } %>

                                </td>
                                <td><a href="/modifier-activite" class="btn border-shadow update">
                                        <i class="fa-solid fa-edit"></i>
                                    </a>

                                    <!-- supprimer ou non -->
                                    <a data-doc="<%= activite._id %>" class="delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>

                                </td>

                            </tr>
                            <%})%>

                    </tbody>
                </table>
            </form>


        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
          const endpoint = `/${trashcan.dataset.doc}`;
          fetch(endpoint, {
            method: 'DELETE',
          })
          .then(response => response.json())
          .then(data => window.location.href = data.redirect)
          .catch(err => console.log(err));
        });
        
      </script>
</body>

</html>