<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Liste des activités</h1>


            <form action="/" method="POST">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nom de l'activité</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Calories</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%listeActivites.forEach(activite=> {%>

                            <tr>
                                <td>X</td>
                                <td>
                                    <%= activite.titre %>
                                </td>
                                <td>
                                    <%= activite.description %>
                                </td>
                                <td>
                                    <%=activite.date.toISOString().substring(0,10) %>
                                </td>
                                <td>
                                    <%= activite.calories %>
                                </td>
                                <td><a href="/modifier_activite" class="btn border-shadow update">
                                        <i class="fa-solid fa-edit"></i>
                                    </a>

                                    <!-- supprimer ou non -->
                                    <!-- <a href="/supprimer_activite" class="btn border-shadow delete">
                                        <i class="fa-solid fa-trash"></i>
                                    </a> -->

                                </td>

                            </tr>
                            <%})%>

                    </tbody>
                </table>
            </form>


        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>