<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <link type="text/css" rel="stylesheet" href="../css/style.css" />

    <link rel="stylesheet" href="../css/chosen.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
  </head>

  <body class="container" onload="montrerTab(6);">
    <header><%- include('../partials/header'); %></header>
    <form id="formulaireInscription" method="post">
      <h1>Inscrivez-vous:</h1>
      <!-- One "tab" for each step in the form: -->

      <div class="tab">
        <p>
          <input
            type="text"
            id="prenom"
            name="prenom"
            placeholder="Prénom"
            oninput="this.className = ''"
            onkeyup="validerForm(this)"
            title=""
            oninvalid="this.setCustomValidity('Entrez votre prenom')"
            oninput="this.setCustomValidity('')"
            autocomplete="on"
          />
        </p>
        <p>
          <input
            type="text"
            id="nom"
            name="nom"
            placeholder="Nom"
            oninput="this.className = ''"
            onkeyup="validerForm(this)"
            title=""
            oninvalid="this.setCustomValidity('Entrez votre nom')"
            oninput="this.setCustomValidity('')"
            autocomplete="on"
          />
        </p>
      </div>
      <div class="tab">
        <p>
          <h5>Quelle âge avez-vous?<input
            type="number"
            id="ans"
            step="0.01"
            min="18"
            max="120"
            name="age"
            onkeyup="validerForm(this)"
            placeholder="Age"
            title="remplissez ce champs"
            oninvalid="this.setCustomValidity('Entrez votre age')"
            oninput="this.setCustomValidity('')"
          /></h5>
        </p>
        <div id="message ans"></div>
        <p>
          <h5>Choisissez le genre qui nous permettra de calculer votre consommaion
          de calorie quotidienne:<select name="genre" id="genre">
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
          </select></h5>
        </p>
        <select name="unitePrefere" id="unitePrefere">
          <option value="metrique">système métrique</option>
          <option value="imperial">système impérial</option>
        </select>

        <div id="metrique">
          <p><h5>
            Quelle est votre poids?<input
              type="number"
              step="0.01"
              min="15"
              max="635"
              id="kg"
              name="poids"
              onkeyup="validerForm(this)"
              title="remplissez ce champs"
              placeholder="Poids"
              oninvalid="this.setCustomValidity('Entrez votre poids')"
              oninput="this.setCustomValidity('')"
            /></h5>
          </p>
          <div id="message kg"></div>
          <p>
          <h5>Quelle est votre taille?<input
              type="number"
              id="cm"
              step="1"
              min="50"
              max="280"
              name="taille"
              onkeyup="validerForm(this)"
              title="remplissez ce champs"
              placeholder="Taille"
              oninvalid="this.setCustomValidity('Entrez votre taille')"
              oninput="this.setCustomValidity('')"
            /></h5>
          </p>
          <div id="message cm"></div>
        </div>
        <div id="imperial" style="display: none">
          <p>
            Quelle est votre poids?<input
              type="number"
              onkeyup="validerForm(this)"
              step="0.01"
              min="34"
              max="1400"
              id="lbs"
              disabled
              name="poids"
              oninput="this.className = ''"
              title="remplissez ce champs"
              placeholder="Poids"
              oninvalid="this.setCustomValidity('Entrez votre poids')"
              oninput="this.setCustomValidity('')"
            />
          </p>
          <div id="message lbs"></div>
          <p>
            Quelle est votre taille?<input
              type="number"
              onkeyup="validerForm(this)"
              id="feet"
              disabled
              step="0.01"
              min="1"
              max="9"
              name="taille"
              oninput="this.className = ''"
              title="remplissez ce champs"
              placeholder="Taille"
              oninvalid="this.setCustomValidity('Entrez votre taille')"
              oninput="this.setCustomValidity('')"
              style="width: 20%"
            />ft
            <input
              type="number"
              onkeyup="validerForm(this)"
              id="inch"
              disabled
              step="0.01"
              min="0"
              max="11.9"
              name="taille"
              oninput="this.className = ''"
              title="remplissez ce champs"
              placeholder="Taille"
              oninvalid="this.setCustomValidity('Entrez votre taille')"
              oninput="this.setCustomValidity('')"
              style="width: 20%"
            />inch
          </p>
          <div id="message feet"></div>
          <div id="message inch"></div>
        </div>
        <p>
          <h4><b>Quelle est votre niveau d'activité?</b></h4><select
            name="id_niveau_activite_physique"
            id="id_niveau_activite_physique"
          >
            <option value="sedentaire">
              Sédentaire (peu ou pas d'activité)
            </option>
            <option value="legerActif">
              Legèrement actif (entrainement de 1-2 fois par semaine)
            </option>
            <option value="modereActif">
              Modérément actif (entrainement de 3-5 fois par semaine)
            </option>
            <option value="tresActif">
              Très actif (6-7 fois d'entrainement intensif )
            </option>
            <option value="ExtremeActif">
              Extrêmement actif (entrainement quotidien intensif )
            </option>
          </select>
        </p>
      </div>
      <div class="tab" id="Imc">
        <div id="ImcDescription"></div>
        <h4><b>Votre objectif:</b></h4>
        <button type="button" id="attein" onclick="atteindreUnpoids()">
          Atteindre un poids saine
        </button>
        <button type="button" id="maintenir" onclick="maintenirUnPoids()">
          Maintenir le poids actuel
        </button>

        <br /><br />
        <div id="objectifPoids" style="display: none">
          <input
            id="objectif_poids"
            type="number"
            onkeyup="validerForm(this)"
            step="0.01"
            name="objectif_de_poids_saine"
            title="remplissez ce champs"
            placeholder="poids saine visé"
            oninvalid="this.setCustomValidity('Entrez votre objectif de poids')"
            oninput="this.setCustomValidity('')"
          />
          <p id="message objectif_poids"></p>
        </div>
        <br /><br />
      </div>
      <div class="tab" id="calorieQuotidienne">
        <div id="caloriesConsommesQuotidienne"></div>
        <div id="objSemaine">
          <h4><b>Quelle est votre objectif par semaine?</b></h4>
          <input
            type="number"
            id="objectifSemaine"
            step="0.01"
            min="0.10"
            name="objectif_par_semaine"
            oninput="this.className = '';validerForm(this);"
            placeholder="Objectif par semaine"
          />
          <p id="message objectifSemaine"></p>
        </div>
      </div>
      <div class="tab" id="planQuotidienne">
        <p id="consommerParJour"></p>
        <p>
          <h4><b>Combien de repas avez-vous par jour?</b></h4><select
            name="repas_par_jour"
            id="repas"
          >
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </p>

        <div id="calorie_par_repas"></div>
        <!-- <input type="number" id="repas" step="0.01" min="3" max="5" name="repas_par_jour" oninput="this.className = '';validerForm(this);" placeholder="repas par jour"/>
        <p id="message repas"></p>-->
      </div>
      <div class="tab">
        <h4><b>Choisissez un nom d'utilisateur:</b></h4>
        <p>
          <input
            type="text"
            id="nom_utilisateur"
            name="nom_utilisateur"
            autocomplete="on"
            oninput="this.className = '';validerNomUtilisateur(this);"
            title="remplissez ce champs"
            placeholder="Nom d'utilisateur"
            title="Votre mot de passe doit commencer avec une lettre miniscule et peut contenir des nombres, des lettres au majuscule et au miniscule et doit avoir une longueur minimum de 8 caracteres et une longueur maximum de 20 caracteres"
            oninvalid="this.setCustomValidity('Choisissez un nom d\'utilisateur valide')"
            oninput="this.setCustomValidity('')"
          />
        </p>

        <p
          id="avertirNomUtilisateur"
          style="padding-left: 20px; color: red"
        ></p>
        <div id="patternUtilisateur" style="display: none">
          <p id="minisculeUtilisateur">
            Votre nom d'utilisateur ne doit contenir que des lettres majuscules,
            miniscules, des nombres et _
          </p>
          <p id="longueurMin">
            Votre nom d'utilisateur doit être plus longue que 8 caractères
          </p>
          <p id="longueurMax">
            Votre nom d'utilisateur doit être moins longue que 20 caractères
          </p>
        </div>
      </div>
      <div class="tab">
        <h4><b>Quelles sont vos restrictions:</b></h4>

        <p></br>

          <h5>Qu'est ce que vous ne mangez pas?
          <select
            name="restrictions"
            id="restrictions"
            data-placeholder="Selectionnez des aliments"
            multiple
            class="chosen-select"
            tabindex="8"
          >
            <option value="pomme">pomme</option>
            <option value="viande">viande</option>
            <option value="Autre">Autre a ajouter</option>
          </select></h5>
        </p>
        <p>
          <h5>Quelles sont vos exigences diètiques?<select
            name="exigences_dietiques"
            id="exigences_dietiques"
            data-placeholder="Selectionnez vos exigences"
            multiple
            class="chosen-select"
            tabindex="8"
          ><% for(var i=0; i<exigences.length; i++) {%>
            <option value="<%= exigences[i]._id %>" title="<%= exigences[i].description %>" ><%= exigences[i].exigence %></option>
            <% } %>
          </select></h5>
        </p>
      </div>
      <div class="tab">
        Créer votre compte:
        <p>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Courriel"
            onkeyup="validerForm(this)"
            oninput="this.className = ''"
            title=""
            oninvalid="this.setCustomValidity('Entrez votre Courriel')"
            oninput="this.setCustomValidity('')"
            autocomplete="on"
          />
        </p>

        <p id="avertirEmail" style="padding-left: 20px; color: red"></p>
        <p id="messageCourriel" class="invalid" style="display: none">
          Entrez un courriel valide
        </p>
        <p>
          <input
            type="password"
            id="mot_passe"
            name="mot_passe"
            autocomplete="on"
            onkeyup="validerForm(this)"
            oninput="this.className = ''"
            title="Votre mot de passe doit contenir au moins un nombre, un lettre au majuscule et un lettre au miniscule et doit avoir une longueur minimum de 8 caracteres"
            placeholder="Mot de passe"
            oninvalid="this.setCustomValidity('Choisissez un mot de passe')"
            oninput="this.setCustomValidity('')"
          />
        </p>
        <div id="patternMotPasse" style="display: none">
          <p id="minisculeMotPasse">
            Votre mot de passe doit contenir au moins un lettre miniscule
          </p>
          <p id="majMotPasse">
            Votre mot de passe doit contenir au moins un lettre majuscule
          </p>
          <p id="nombreMotPasse">
            Votre mot de passe doit contenir au moins un nombre
          </p>
          <p id="longueurMinPass">
            Votre mot de passe doit être plus longue que 8 caractères
          </p>
        </div>
      </div>
      <div style="overflow: auto">
        <div style="float: right">
          <button type="button" id="prevBtn" onclick="changerTab(-1)">
            Précédent
          </button>
          <button type="button" id="nextBtn" onclick="changerTab(1)">
            Prochain
          </button>
        </div>
      </div>
      <!-- Circles which indicates the steps of the form: -->
      <div style="text-align: center; margin-top: 40px">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="../js/calculsCaloriesQuot.js"></script>
    <script src="../js/index.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/chosen.jquery.min.js"></script>
    <script src="../js/main.js"></script>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
