<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>
<php></php>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <form action="/deconnexion?_method=DELETE" method="post">
        <input type="submit" value="Déconnexion" />

    </form>
    <br /><br />
    <h3>Bonjour
        <%=utilisateurCourant.prenom%>
            <%=utilisateurCourant.nom%>
    </h3>
    <h3>Calories consommées aujourdhui </h3>
    <h4>
        <%=utilisateurCourant.
        calorie_quotidien_consommee%>
            <p>/</p>
            <%=utilisateurCourant.
            
calorie_quotidien_recommendee
%>
    </h4>
    <h5>Mes informations</h5>
    <p>Nom d'utilisateur:
        <%=utilisateurCourant.nom_utilisateur%>
            <br> Adresse courriel:
            <%=utilisateurCourant.email%> <br> Age:
                <%=utilisateurCourant.age%> <br>Taille:
                    <%=utilisateurCourant.taille_cm%> <br> Poids:
                        <%=utilisateurCourant.poids_kg%> <br> IMC:
                            <%=utilisateurCourant.imc%>

    </p>

    <div class="progress-bar">
        <div class="outer">
            <div class="inner">
                <div id="number">
                    65%
                </div>
            </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
        <defs>
           <linearGradient id="GradientColor">
              <stop offset="0%" stop-color="#e91e63" />
              <stop offset="100%" stop-color="#673ab7" />
           </linearGradient>
        </defs>
        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
</svg>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>