<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>
<php></php>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <form action="/deconnexion?_method=DELETE" method="post">
        <input type="submit" value="Déconnexion" />

    </form>
    <br /><br />
    <h3>Bonjour
        <%=utilisateurCourant.prenom%>
            <%=utilisateurCourant.nom%>
    </h3>
    <h5>Mes informations</h5>
    <p>Nom d'utilisateur:
        <%=utilisateurCourant.nom_utilisateur%>
            <br> Adresse courriel:
            <%=utilisateurCourant.email%> <br> Age:
                <%=utilisateurCourant.age%> <br>Taille:
                    <%=utilisateurCourant.taille_cm%> <br> Poids:
                        <%=utilisateurCourant.poids_kg%> <br> IMC:
                            <%=utilisateurCourant.imc%>

    </p>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>