<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link type="text/css" rel="stylesheet" href="../css/profil.css" />


</head>
<php></php>

<body style="padding-left:300px;">
    <header>
        <%- include('../partials/header'); %>
    </header>
      <form action="/deconnexion?_method=DELETE" method="post">
        <input type="submit" name="deconnexion" value="Déconnexion" />
    </form>
    <br /><br />
    <div class="container">
        <h3>Heureux de vous revoir
            <%=utilisateurCourant.prenom%>!
        </h3>

        <div class="divInfo">
            <h5>Vos informations</h5>
            <p style="display:inline ;">Nom d'utilisateur:
            </p>
            <%=utilisateurCourant.nom_utilisateur%>
                <br> Adresse courriel:
                <%=utilisateurCourant.email%> <br> Age:
                    <%=utilisateurCourant.age%>
                        <button onclick=" afficherDiv('modifier_age')">+</button>
                        <form action="/metre_a_jour_age" class="modifier_age" id="modifier_age" style="display:none;" method="post">
                            <input type="text" id="age" name="age" max="120" min="18" placeholder="entrez votre age" required>
                            <input type="submit" value="Modifier" name="save_data"> </input>

                        </form> <br>Taille:
                        <%=utilisateurCourant.taille%> <br> Poids actuel:
                            <%=utilisateurCourant.poids%> <button onclick=" afficherDiv('modifier_poids')">+</button>
                                <form action="/metre_a_jour_poid" class="modifier_poids" id="modifier_poids" style="display:none;" method="post">
                                    <input type="text" id="poids" name="poids" max="200" min="15" placeholder="entrez votre nouveau poids" required>
                                    <input type="submit" value="Modifier" name="save_data"> </input>

                                </form> <br> Votre objectif de poids:
                                <%=utilisateurCourant.objectif_de_poids_saine%><br>IMC:
                                    <%=utilisateurCourant.imc%>
                                        <p></p>
        </div>
        <div class="historique">
            <h5>Historique de vos activités physiques</h5>
        </div>
        <p></p>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
        <script>
            function afficherDiv(id_div) {
                var div = document.getElementById(id_div);
                if (div.style.display === "none") {
                    div.style.display = "block";
                } else {
                    div.style.display = "none";
                }
            }        </script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="../js/recettesEdamame.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/chosen.jquery.min.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>