<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <link type="text/css" rel="stylesheet" href="../css/style.css" />

</head>
<php></php>

<body class="container" onload="progress_bar() ">
    <header>
        <%- include('../partials/header'); %>
    </header>
    <form action="/deconnexion?_method=DELETE" method="post">
        <input type="submit" value="Déconnexion" />

    </form>
    <br /><br />
    <h3>Bonjour
        <%=utilisateurCourant.prenom%>
            <%=utilisateurCourant.nom%>
    </h3>
    <h3>Calories consommées aujourdhui </h3>
    <h4>
        <p style="display:inline" id="calorie_consomme">
            <%=utilisateurCourant.calorie_quotidien_consommee%>
        </p>
        <p style="display:inline">
            /
        </p>
        <p style="display:inline" id="calorie_recommendee">
            <%=utilisateurCourant.calorie_quotidien_recommendee%>
        </p>



    </h4>

    <div class="progress">
        <div class="progress-done" id="progress-done">

        </div>
    </div>
    <p></p>
    <button onclick="  afficherDiv('AjouterCalorie')">Ajouter des Calories</button>

    <form action="" id="AjouterCalorie" style="display:none;" method="post">
        <p>Ajouter manuellement les calories de votre repas</p>

        <input type="text" id="calorie" name="calorie" placeholder="expl: 150 (KCal)" />
        <input type="submit" value="Ajouter" name="action"> </button>

    </form>
    <p></p>
    <h5>Mes informations</h5>
    <p style="display:inline ;">Nom d'utilisateur:
    </p>
    <%=utilisateurCourant.nom_utilisateur%>
        <br> Adresse courriel:
        <%=utilisateurCourant.email%> <br> Age:
            <%=utilisateurCourant.age%> <br>Taille:
                <%=utilisateurCourant.taille%> <br> Poids actuel:
                    <%=utilisateurCourant.poids%> <button onclick=" afficherDiv('modifier_poids')">+</button>
                        <form class="modifier_poids" id="modifier_poids" style="display:none;" method="post">
                            <input type="number" id="poids" max="200" min="15" placeholder="entrez votre nouveau poids">


                        </form> <br> IMC:
                        <%=utilisateurCourant.imc%>
                            <p></p>


                            <footer>
                                <%- include('../partials/footer'); %>
                            </footer>

                            <script>
                                function afficherDiv(id_div) {
                                    var x = document.getElementById(id_div);

                                    if (x.style.display === "none") {
                                        x.style.display = "block";
                                    } else {
                                        x.style.display = "none";
                                    }

                                }


                                function progress_bar() {
                                    const valeur = document.getElementById("calorie_consomme");
                                    const max = document.getElementById("calorie_recommendee");
                                    console.log(max)
                                    let valeurFinale = 0;
                                    let maximum = 0;


                                    valeurFinale = parseInt(valeur.value, 10);
                                    maximum = parseInt(max.value, 10);
                                    var pourcentage = valeurFinale / maximum * 100;
                                    let largeur = pourcentage + "%";

                                    document.getElementById("progress-done").style.width = "40%"

                                    //  return pourcentage
                                }
                            </script>


</body>

</html>